<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Welcome dear client!</h3>

    <p class="lead">

    <h4>Take a loan</h4>

    <form role="form">

        <div class="form-group">
            <label for="name">First name</label>
            <input type="text" id="firstName" class="form-control" ng-model="formData.firstName" />
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="formData.lastName" />
            <label for="job">Job</label>
            <select id="job" class="form-control" ng-model="formData.job">
                <option>IT</option>
                <option>FINANCE_SECTOR</option>
            </select>
            <label for="amount">Amount</label>
            <input type="text" id="amount" class="form-control" ng-model="formData.amount" />
        </div>
        <button type="button" class="btn btn-default" ng-click="applyForLoan()">Apply for loan</button>
    </form>

    <br />
</div>